<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya|Work+Sans">
    <link rel="stylesheet" href="main.css" type="text/css">

    <title>O Antagonista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <span id='page' data-page='<%= @page %>'></span>

    <button id='nav_prev' data-page='<%= @page_prev %>' class='navigation'> <- </button>
    <button id='nav_next' data-page='<%= @page_next %>' class='navigation next'> -> </button>


    <% (0..5).each do |index| %>
        <article id='article<%=index%>' data-selectable=''>
            <a id='path<%=index%>' href='' target="_blank">
                <header id='title<%=index%>'> </header>
            </a>
            <div id="content<%=index%>">
            </div>
            <footer id='date<%=index%>' class="date"> </footer>
        </article>
    <% end %>



    <footer class="version"><%= ENV['version'] %></footer>

    <% # JAVASCRIPT %>
    <script type="text/javascript" src="<%= url('/single.js') %>" >
    </script>

</body>
</html>
