<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya|Work+Sans">
    <link rel="stylesheet" href="main.css" type="text/css">

    <title>O Antagonista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <% if @anterior %>
        <a href="/<%= @anterior %>" class="navegacao"><%= @anterior %><< </a>
    <% end %>
    <a href="/<%= @proxima %>" class="navegacao proxima"> >><%= @proxima %></a>



    <% @news.reverse.each do |noticia| %>
        <article data-selectable="">
            <a href="<%= noticia[:full_path] %>" target="_blank">
                <header> <%= noticia[:title] %> </header>
            </a>
            <div class="conteudo">
                <a href='<%= noticia[:local_path] %>' class="js-placeholder"> <%= noticia[:local_path] %> </a>
            </div>
            <footer class="data"> <%= noticia[:date] %> </footer>
        </article>
    <% end %>



    <footer class="version"><%= ENV['version'] %></footer>

    <script type="text/javascript" src="<%= url('/jquery.js') %>"></script>
    <script type="text/javascript" src="<%= url('/mousetrap.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('/main.js') %>"></script>

</body>
</html>
