<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>">
    <title>O Antagonista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <% @html.each do |noticia| %>
        <article>
            <h2> <%= noticia[:title] %></h2>
            <a href='<%= noticia[:path] %>' class="js-placeholder"> <%= noticia[:path] %> </a>
        </article>
        <hr/>
    <% end %>

    <footer>v.<%= ENV['version']  %></footer>

    <script type="text/javascript" src="<%= url('/jquery-latest.js') %>"></script>
    <script type="text/javascript" src="<%= url('/main.js') %>"></script>

</body>
</html>