<html>
<head>
  <link rel="stylesheet" href="main.css" type="text/css">

  <title>O Antagonista</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <% if @prev_page %>
    <a class="navigation"    href="/<%= @prev_page %>"><%= @prev_page %> <-</a>
  <% end %>
  <a class="navigation next" href="/<%= @next_page %>">-> <%= @next_page %></a>


  <% @news_list.each do |news| %>

    <article>
      <a href=<%= news[:full_path] %> target="_blank">
        <div class="header"><%= news[:title] %></div>
      </a>

      <%= news[:content].map { |line| "<p>#{line}</p>" }.join %>

      <div class="date"><%= news[:date] %></div>
    </article>

  <% end %>


  <div class="version">
    <%= ENV['version'] %>
    <%= " - #{ENV['HEROKU_RELEASE_VERSION']}" if ENV['HEROKU_RELEASE_VERSION'] %>
  </div>

</body>
</html>
