<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="<%= url('/css/main.css') %>">
    <title>O Antagonista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

    <a href="/anterior/" class="navegacao"><<</a>
    <a href="/proxima/" class="navegacao proxima">>></a>

    <% @html.each do |noticia| %>
        <article>
            <h2> <%= noticia[:title] %></h2>
            <div class="data"> <%= noticia[:date] %> </div>
            <a href='<%= noticia[:path] %>' class="js-placeholder"> <%= noticia[:path] %> </a>
        </article>
    <% end %>

    <footer><%= ENV['version']  %></footer>

    <script type="text/javascript" src="<%= url('/jquery-latest.js') %>"></script>
    <script type="text/javascript" src="<%= url('/main.js') %>"></script>

</body>
</html>